In [8]:
import pandas as pd
import numpy as np 
import scipy.stats as stats

In [9]:
LabTAT= pd.read_csv(r"C:\Data Science Assignments\Basics Statistis 1\hypothesis\LabTAT.csv")

In [10]:
LabTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
LabTAT.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [15]:
# Extract the TAT values for each laboratory
lab1 = LabTAT['Laboratory 1']
lab2 = LabTAT['Laboratory 2']
lab3 = LabTAT['Laboratory 3']
lab4 = LabTAT['Laboratory 4']

# Perform the ANOVA test
f_statistic, p_value = stats.f_oneway(lab1, lab2, lab3, lab4)

In [16]:
# Set the significance level
alpha = 0.05

if p_value < alpha:
    print("There is a statistically significant difference in average TAT among the laboratories.")
else:
    print("There is no statistically significant difference in average TAT among the laboratories.")

There is a statistically significant difference in average TAT among the laboratories.